{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page!</h1>
<br>
<div>
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome!</h1>
            <p>Welcome to the Kashyap's Blogs. Here we will taking about everthing computer science. Basics, Frameworks,
                machine learning, and other data science stuff, any new tech or findings, and pretty much anything
                computer science releated</p>
            <p>Go visit us at our instagram <a href="https://www.instagram.com/kashyapshahare/">Kashyap Shahare
                    Instagram</a> to check out more cool stuff beyond the blogs</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to Posts&raquo;</a>
            </p>
        </div>
    </div>
</div>
</div>
{% endblock %}